body {
    width: 100%;
    padding: 10px;
}

h1, h2 {
    color: darkblue;
}

a {
    color: #0a0ca4;
    /*text-decoration: none;*/
    font-size: 16px;
}

#time-input, #time-input-rss, #time-input-session, #time-input-news {
    min-width: 20px;
    width: 5vw;
}

#export-button {
    display: none;
}

.links-container {
    width: 100%;
}