body {
    width: 100%;
    padding: 10px;
}

h1, h2 {
    color: darkblue;
}

a {
    color: #0a0ca4;
    /*text-decoration: none;*/
    font-size: 16px;
}

#export-button {
    display: none;
}

.links-container {
    width: 100%;
}